.align-center{
      left:30%;
      top:30%;
}
.commentdiv {
      padding-left: 10px;
}

.announce_detail {
      padding-left: 35px;
}

.announce_detail li {
      padding: 10px;
}

.time {
      font-size: 12px;
}

.time i {
      margin-right: 5px;
}
.name img {
      padding-right: 10px;
}
.max-width{
      width:100% !important;
}

/* Layout helpers */

.spacer-5,
.spacer-10,
.spacer-15,
.spacer-20,
.spacer-25,
.spacer-30,
.spacer-35,
.spacer-40,
.spacer-45,
.spacer-50{
      width : 100%;
      clear : both;
}
.spacer-5{
      height : 5px;
}
.spacer-10{
      height : 10px;
}
.spacer-15{
      height : 15px;
}
.spacer-20{
      height : 20px;
}
.spacer-25{
      height : 25px;
}
.spacer-30{
      height : 30px;
}
.spacer-35{
      height : 35px;
}
.spacer-40{
      height : 40px;
}
.spacer-45{
      height : 45px;
}
.spacer-50{
      height : 50px;
}

.hr-totop{
      height           : 1px;
      width            : 100%;
      clear            : both;
      margin           : 0;
      position         : relative;
      background-color : #ccc
}
.hr-totop span{
      padding          : 0 5px;
      position:absolute;
      right:10px;
      top:-10px;
      font-size        : 11px;
      cursor           : pointer;
      color            : #999;
      background-color : #fff
}

.invalid{
      color:red;

}

/* .question_area{
        min-height: 500px;
} */

#question_answer_area{
      padding-bottom: 50px;
}

.indent-0 {
      margin-left: 0px;
}

.indent-1 {
      margin-left: 25px;
}

.indent-2 {
      margin-left: 50px;
}

.indent-3 {
      margin-left: 75px;
}

.indent-4 {
      margin-left: 100px;
}

.indent-5 {
      margin-left: 125px;
}

.indent-6 {
      margin-left: 150px;
}

.m-t-24{
      margin-top: 24px;
}

table[id=task_list] .select2-container{
     width: 90px !important;
    height: 30px;
    padding: 0px;
    padding-top: 1px;
    margin-top: 2px;
}
.box-border{
      padding: 2%;
      background-color: #FFF;
      width: 100%;
      font-size: 12px;
      font-weight: 100;
}
.table th {
      background: #333;
      color: #FFF;
}
.select-border {
      border: #ccc 1px solid !important;
}

/*#translation_main_list_view_wrapper {
      padding: 1%;
}*/

.p-fix {

      position: fixed;

}
#btn_save_data {
      background-color:#288212;
      width: 100%;
}
#btn_save_data:hover {
      background-color:#1ba703;
      color: white;
}
#btn_save_data:focus {
      background-color:#1ba703;
      color: white;
}
#btn_back_to_menu {
      width: 100%;
}

#task_list input[name=plan_start_date],#task_list input[name=detail],#task_list input[name=task_status_id],#task_list input[name=actual_start_date],#task_list input[name=pic_id],#task_list input[name=plan_end_date], #task_list input[name=actual_end_date], #task_list input[name=target_date]  {
      background-color: #fafafa38 !important;
      border: 1px solid #aaaaaa03 !important;
      padding-top: 11%;

      height: 15%;
}

/*#btn_save_task {
      background-color:#288212;
      
}
#btn_save_task:hover {
      background-color:#1ba703;
      color: white;
}
#btn_save_task:focus {
      background-color:#1ba703;
      color: white;
}*/
.tab-pane {
      height: 450px;
}

button_area[name=btn_save_data] {
      width: 100px !important;
}
.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
      text-align: center;
      border-radius: 4px;
      background:white;
      color:#4c5667;
}
/*.dropdown-toggle {
      display: none !important;
}*/
.right-bar-toggle {
      display: none !important;
}

#task_detail .panel-body{
      height: 500px;
      overflow-y:auto;
      overflow-x:auto;
      padding: 2%;
      padding-top: 0%;
}
#task_detail .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
      border-top: 1px solid #fff;
}

div.date input[type=text]{
      font-size: 10px;
}

.select2-container .select2-choice .select2-arrow {
    width: 19px !important;
    top: 0px !important;
}
#task_list .select2-container .select2-choice .select2-arrow {
    width: 21px !important;
    top: -3px !important;
    padding: 0;
}

.margin-search{
      margin-top: 23px;
}
#btn_save_task {
    margin-left: 5%;
}
.at-button {
    display: none !important; 
}

#sortable{ 
    list-style-type: none; 
    margin: 0; 
    /*float: left; */
/*    margin-right: 10px; */
    background: #eee; 
    padding: 3px; 
   
}

#sortable li { 
    margin: 1px; 
    padding: 5px; 
    font-size: 1.2em; 
    cursor: move;
    line-height: 15px; 
    width: 400px;
    display: inline-block;
}

div.box {
    /*width: 96%;*/
    display: inline-block;
    margin: 10px;
    background-color: #eee;
    line-height: 8px;
   
}

div.header {
    text-align: center;
    font-weight: bold;
    padding: 5px 18px 0px;
    cursor: move;
}

.box ul {
    /*width: 290px;*/
     
}

div.column {
    /*width: 48%;*/
    float: left;
    height: auto;
    /*margin: 2px;*/
    min-height: 50px;
    border: 1px #d3d3d3 dashed;
    
}

div.rowdash {
    /*width: 48%;*/
    float: left;
    height: auto;
    margin: 2px;
    min-height: 50px;
    border: 1px #d3d3d3 dashed;
   
}

label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
.ui-dialog .ui-state-error { padding: .3em; }

.btnToolbar {
    margin-bottom: 10px;
}
/*.ppopup {
    background: rgb(214, 214, 214) ;
    padding: 19px;
    border-radius: 8px;
}*/
.lt-body {
    margin-bottom: 0;
    border: 1px solid #fafafa;
    overflow: auto;
    background: #fafafa;
    border-radius: 6px;
    padding: 17px;
}
.p-a-10{
        padding:10px;
        font-family: 'Poppins';
}

.section-header{
    font-size: 1em;
    color: #fff;
    background-color: #0072bb;
    margin-bottom: 10px;
    padding: 18px;
    margin-top: 3%;
}

.button_area{
        padding-left:10px;
        margin-top:-4px;
}

.dataTables_filter .input-group-addon{
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        font-size: 10px;
}

.pull-right{
        float:right;
}
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on July 20, 2018 */



@font-face {
    font-family: 'aia-bodyregular';
    src: url('aia-body-webfont.eot');
    src: url('aia-body-webfont.eot?#iefix') format('embedded-opentype'),
         url('aia-body-webfont.woff2') format('woff2'),
         url('aia-body-webfont.woff') format('woff'),
         url('aia-body-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aia-bodybold';
    src: url('aia-bodybold-webfont.eot');
    src: url('aia-bodybold-webfont.eot?#iefix') format('embedded-opentype'),
         url('aia-bodybold-webfont.woff2') format('woff2'),
         url('aia-bodybold-webfont.woff') format('woff'),
         url('aia-bodybold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aia-bodybold_italic';
    src: url('aia-bodybolditalic-webfont.eot');
    src: url('aia-bodybolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('aia-bodybolditalic-webfont.woff2') format('woff2'),
         url('aia-bodybolditalic-webfont.woff') format('woff'),
         url('aia-bodybolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aia-bodyitalic';
    src: url('aia-bodyitalic-webfont.eot');
    src: url('aia-bodyitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('aia-bodyitalic-webfont.woff2') format('woff2'),
         url('aia-bodyitalic-webfont.woff') format('woff'),
         url('aia-bodyitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aia-headingregular';
    src: url('aia-heading-webfont.eot');
    src: url('aia-heading-webfont.eot?#iefix') format('embedded-opentype'),
         url('aia-heading-webfont.woff2') format('woff2'),
         url('aia-heading-webfont.woff') format('woff'),
         url('aia-heading-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aia-headingitalic';
    src: url('aia-headingitalic-webfont.eot');
    src: url('aia-headingitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('aia-headingitalic-webfont.woff2') format('woff2'),
         url('aia-headingitalic-webfont.woff') format('woff'),
         url('aia-headingitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Poppins';
    src: url('/nlic/assets/fonts/Poppins-Regular.woff2') format('woff2'),
        url('/nlic/assets/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/nlic/assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('/nlic/assets/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}