
/*         
     __                   .__        
    |__|____ __________  _|__| ______
    |  \__  \\_  __ \  \/ /  |/  ___/
    |  |/ __ \|  | \/\   /|  |\___ \ 
/\__|  (____  /__|    \_/ |__/____  >
\______|    \/                    \/ 

Copyright 2013 - Jarvis : Smart Admin Template

 * This is part of an item on wrapbootstrap.com
 * https://wrapbootstrap.com/user/myorange
 * ==================================


   Table of Contents
   ---------------------------------------------------------------
   
   - Main
   - Header
   - Content
   - Edit box
   - Timestamp
   - Helpers
   - Fullscreen
   - Styling
   - Custom styles
   - Icons - A few used examples
   - RTL support 
   - Clearfix  
   - Examples (minimalistic in grid)
   - Examples (lists)
   
*/

/* ---------------------------------------------------------------------- */
/*	Main
/* ---------------------------------------------------------------------- */

.jarviswidget{
      margin                : 0 0 30px 0;
      position              : relative;
      -moz-border-radius    : 3px;
      -khtml-border-radius  : 3px;
      -webkit-border-radius : 3px;
      border-radius         : 3px;	
      padding               : 0;
      box-shadow 			  : 0 1px 1px #E6E6E6;
      -webkit-box-shadow 	  : 0 1px 1px #E6E6E6;
}

.widget-content-padding{
      padding : 20px;
}

.widget-content-padding .well {
      margin-bottom:0px;
}

.jarviswidget-ajax-placeholder {
      padding:10px;
}

/* ---------------------------------------------------------------------- */
/*	Haeder
/* ---------------------------------------------------------------------- */

.jarviswidget > header{
      height      :35px; /* make sure ".jarviswidget-loader" is also the same height or it will flicker during collapse */
      padding     : 0 0 0 10px;	
      line-height : 40px;
}
.ui-sortable .jarviswidget-sortable > header{
      cursor : move;
      box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
      -moz-border-radius    : 3px 3px 0px 0px;
      -khtml-border-radius  : 3px 3px 0px 0px;
      -webkit-border-radius : 3px 3px 0px 0px;
      border-radius         : 3px 3px 0px 0px;
      /*background-image 	  : url('../img/overlay-pattern.png');*/
} 
.ui-sortable .jarviswidget-sortable.jarviswidget-collapsed > header {
      -moz-border-radius    : 3px;
      -khtml-border-radius  : 3px;
      -webkit-border-radius : 3px;
      border-radius         : 3px;
}

.jarviswidget > header h2, .fc-header-title h2 {
      height      : 100%;
      width       : auto;
      float       : left;
      font-size   : 13px;
      position    : relative;
      margin      : 0;
      line-height	: 34px;
}
.jarviswidget > header .jarviswidget-icon{
      width    : 16px;
      height   : 16px;
      float    : left;
      margin   : 12px 10px 0 0;
      display  : block;
      zoom     : 1;
      z-index  : 4000
}  
.jarviswidget-ctrls{
      width   : auto;
      float   : right;
      padding : 8px 2px 0 0;
      margin  : 0;
}
.jarviswidget-ctrls .button-icon{
      width                 : 18px;
      height                : 18px;
      float                 : left;
      -moz-border-radius    : 3px;
      -khtml-border-radius  : 3px;
      -webkit-border-radius : 3px;
      border-radius         : 3px;
      position              : relative;
      margin                : 0 5px 5px 0;
      font-size             : 13px;
      font-family           : Arial, Helvetica, sans-serif;
}	
.jarviswidget-loader{
      width               : 30px;
      height              : 34px;
      margin              : 0;
      float               : right;
      background-repeat   : no-repeat;
      background-position : center center;
      display             : none;
}

/* ---------------------------------------------------------------------- */
/*	Content
/* ---------------------------------------------------------------------- */

.jarviswidget > div{
      float                 : left;
      width                 : 100%;
      min-height            : 20px;
      position              : relative;
      font-size             : 13px;
      -moz-border-radius    : 0px 0px 3px 3px;
      -khtml-border-radius  : 0px 0px 3px 3px;
      -webkit-border-radius : 0px 0px 3px 3px;
      border-radius         : 0px 0px 3px 3px;
      margin                : 0;
      border-width 		  : 1px;
      border-style          : solid;
      border-top      	  : none;
      border-right-color    : #C8C8C8 !important;
      border-bottom-color   : #C8C8C8 !important;
      border-left-color     : #C8C8C8 !important;
} 
.inner-spacer{
      margin : 0;
      font-weight: normal;
}

/* ---------------------------------------------------------------------- */
/*	Editbox
/* ---------------------------------------------------------------------- */

.jarviswidget-editbox{
      display : none;
      padding : 10px;
}
.jarviswidget-editbox div{
      width         : 100%;
      float         : left;
      margin-bottom : 5px;
}
.jarviswidget-editbox label{
      width       : 80px;
      height      : 26px;
      float       : left;
      line-height : 26px;
      font-weight : bold;
}
.jarviswidget-editbox input{
      width   : 200px;
      height  : 26px;
      padding : 0 5px;
      border-radius: 5px;
}
.jarviswidget-editbox span{
      height : 26px;
      width  : 26px;
      float  : left;
      margin : 0 5px 0 0;
      cursor : pointer;
}

/* ---------------------------------------------------------------------- */
/*	Timestamp
/* ---------------------------------------------------------------------- */

.jarviswidget-timestamp{ 
      font-size: 12px;
      color: #868686;
      margin: 10px 20px 0;
}

/* ---------------------------------------------------------------------- */
/*	Helpers
/* ---------------------------------------------------------------------- */

.jarviswidget-placeholder{
      -moz-border-radius    : 3px;
      -khtml-border-radius  : 3px;
      -webkit-border-radius : 3px;
      border-radius         : 3px;
      margin-bottom         : 28px; /* adjusted from 28px */
      padding               : 0;
      -webkit-box-sizing    : border-box;
      -khtml-box-sizing     : border-box;   
      -moz-box-sizing       : border-box;
      -ms-box-sizing        : border-box;	 
      box-sizing            : border-box;	
}

/* ---------------------------------------------------------------------- */
/*	Fullscreen
/* ---------------------------------------------------------------------- */

body.nooverflow{
      overflow : hidden;
      position : fixed;
}
#jarviswidget-fullscreen-mode{
      width    : 100%;
      height   : 100%;
      position : fixed;
      top      : 0;
      left     : 0;
      z-index  : 99999;
}
#jarviswidget-fullscreen-mode .jarviswidget{
      margin                : 0;
      -moz-border-radius    : 0;
      -khtml-border-radius  : 0;
      -webkit-border-radius : 0;
      border-radius         : 0;	
}
#jarviswidget-fullscreen-mode .jarviswidget > div{
      overflow-y            : scroll;
      -moz-border-radius    : 0;
      -khtml-border-radius  : 0;
      -webkit-border-radius : 0;
      border-radius         : 0;	
}
#jarviswidget-fullscreen-mode > div > header{
      cursor : default;
}

/* ---------------------------------------------------------------------- */
/*	Styling
/* ---------------------------------------------------------------------- */

.jarviswidget, .fc-event-skin, .modal-header {	
      /*background-color  : #555;*/
}
.jarviswidget > header{
      color: #fff;
      
      border: 1px solid #C2C2C2;
      background: #fafafa;
      background: -moz-linear-gradient(top, #fafafa 0%, #efefef 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#efefef));
      background: -webkit-linear-gradient(top, #fafafa 0%,#efefef 100%);
      background: -o-linear-gradient(top, #fafafa 0%,#efefef 100%);
      background: -ms-linear-gradient(top, #fafafa 0%,#efefef 100%);
      background: linear-gradient(to bottom, #fafafa 0%,#efefef 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 );
          background: #0072bb;
}
.jarviswidget-ctrls .button-icon{
      background: #e5e5e5; /* Old browsers */
      background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

      border      : 1px solid #C2C2C2;
          color: #333;

}	
.jarviswidget-ctrls .button-icon:hover{
      background: #e5e5e5; /* Old browsers */

}
.jarviswidget-loader{
      background-image : url("../img/loaders/type3/light/16.gif");
}
.jarviswidget > div{
      background-color : #fff !important;
} 
.jarviswidget-editbox{
      border-bottom    : 1px solid #B1B1B1;
      background-color : #F6F6F6;
}
.jarviswidget-editbox input{
      border : 1px solid #666;
}
.jarviswidget-placeholder{
      background-color : #FFC;
      border           : 1px dotted #666;
}

/* ---------------------------------------------------------------------- */
/*	Custom Styles
/* ---------------------------------------------------------------------- */

/* red theme */
.red-btn,
.jarviswidget.red > header, 
.jarviswidget.red .fc-event-skin {
      background: #a90329; /* Old browsers */
      background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
      border-color     : #931313;
      color 			 : #FFF;
      text-shadow 	 : 0 1px 0 #333;
}

/* green theme */
.green-btn,
.jarviswidget.green > header, 
.jarviswidget.green .fc-event-skin {
      background: #8fc400; /* Old browsers */
      background: -moz-linear-gradient(top,  #8fc400 0%, #8fc400 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc400), color-stop(100%,#8fc400)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #8fc400 0%,#8fc400 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #8fc400 0%,#8fc400 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=0 ); /* IE6-9 */
      border-color     : #4c9d57;
      color 			 : #FFF;
      text-shadow 	 : 0 1px 0 #333;
}

/* black theme */
.black-btn,
.jarviswidget.black > header, 
.jarviswidget.black .fc-event-skin {
      background: #3A3A3A; /* Old browsers */
      background: -moz-linear-gradient(top,  #4A4A4A 0%, #3A3A3A 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4A4A4A), color-stop(100%,#3A3A3A)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #4A4A4A 0%,#3A3A3A 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #4A4A4A 0%,#3A3A3A 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #4A4A4A 0%,#3A3A3A 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #4A4A4A 0%,#3A3A3A 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4A4A4A', endColorstr='#3A3A3A',GradientType=0 ); /* IE6-9 */
      border-color     : #222;
      color 			 : #FFF;
      text-shadow 	 : 0 1px 0 #333;
}

/* purple theme */
.purple-btn,
.jarviswidget.purple > header,
.jarviswidget.purple .fc-event-skin {
      background: #b86de0; /* Old browsers */
      background: -moz-linear-gradient(top,  #b86de0 0%, #914cad 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b86de0), color-stop(100%,#914cad)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #b86de0 0%,#914cad 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #b86de0 0%,#914cad 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #b86de0 0%,#914cad 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #b86de0 0%,#914cad 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b86de0', endColorstr='#914cad',GradientType=0 ); /* IE6-9 */
      border-color     : #6a4395;
      color 			 : #FFF;
      text-shadow 	 : 0 1px 0 #333;
}

/* dark grey theme */
.darkgrey-btn,
.jarviswidget.darkgrey > header, 
.jarviswidget.darkgrey .fc-event-skin {
      background: #FAFAFA;
      background: -moz-linear-gradient(top, #FAFAFA 0%, #EFEFEF 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#EFEFEF));
      background: -webkit-linear-gradient(top, #FAFAFA 0%,#EFEFEF 100%);
      background: -o-linear-gradient(top, #FAFAFA 0%,#EFEFEF 100%);
      background: -ms-linear-gradient(top, #FAFAFA 0%,#EFEFEF 100%);
      background: linear-gradient(to bottom, #FAFAFA 0%,#EFEFEF 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 );
      border-color     : #C2C2C2;
      color 			 : #333;
      text-shadow 	 : 0 1px 0 #FFF;
}
.darkgrey-btn {
      border: 1px solid #CACACA;
      /*width: 24px !important;
      height: 24px !important;*/
}


/* navy blue theme */
.navyblue-btn,
.jarviswidget.navyblue > header, 
.jarviswidget.navyblue .fc-event-skin {
      background-color: #305F9C;
      background-image: -moz-linear-gradient(top, #6484C9, #305F9C);
      background-image: -ms-linear-gradient(top, #6484C9, #305F9C);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6484C9), to(#305F9C));
      background-image: -webkit-linear-gradient(top, #6484C9, #305F9C);
      background-image: -o-linear-gradient(top, #6484C9, #305F9C);
      background-image: linear-gradient(top, #6484C9, #305F9C);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'6484c9, endColorstr='#'305f9c, GradientType=0);
      border-color     : #416992;
      color 			 : #FFF;
      text-shadow 	 : 0 1px 0 #333;
}

/* yellow theme */
.yellow-btn,
.jarviswidget.yellow > header, 
.jarviswidget.yellow .fc-event-skin {
      background: #e5e696; /* Old browsers */
      background: -moz-linear-gradient(top,  #e5e696 0%, #d1d360 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e696), color-stop(100%,#d1d360)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #e5e696 0%,#d1d360 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #e5e696 0%,#d1d360 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #e5e696 0%,#d1d360 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #e5e696 0%,#d1d360 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e696', endColorstr='#d1d360',GradientType=0 ); /* IE6-9 */
      border-color     : #BBBB4F;
      color 			 : #333;
      text-shadow 	 : 0 1px 0 #FFF;
}

/* pink theme */
.pink-btn,
.jarviswidget.pink > header, 
.jarviswidget.pink .fc-event-skin {
      background: #cb60b3; /* Old browsers */
      background: -moz-linear-gradient(top,  #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb60b3), color-stop(50%,#c146a1), color-stop(51%,#a80077), color-stop(100%,#db36a4)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=0 ); /* IE6-9 */
      border-color     : #E44CC5;
      color 			 : #FFF;
      text-shadow 	 : 0 1px 0 #333;
}

/* orange theme */
.orange-btn,
.jarviswidget.orange > header, 
.jarviswidget.orange .fc-event-skin {
      /* nav color #EA494A*/
      background: #feccb1; /* Old browsers */
      background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
      border-color     : #E9984D;
      color 			 : #FFF;
      text-shadow 	 : 0 1px 0 #333;
}

/*jarvis loader light/dark */
.jarviswidget.red > header .jarviswidget-loader,
.jarviswidget.green > header .jarviswidget-loader, 
.jarviswidget.black > header .jarviswidget-loader,
.jarviswidget.purple > header .jarviswidget-loader,
.jarviswidget.navyblue > header .jarviswidget-loader,
.jarviswidget.pink > header .jarviswidget-loader,
.jarviswidget.orange > header .jarviswidget-loader {
      background-image: url("../img/loaders/type3/dark/16.gif");
}




/* ---------------------------------------------------------------------- */
/*	Icons
/* ---------------------------------------------------------------------- */

/*.widget-icon-arrow-up-down-10-white{ background-position: 0 0;  } 
.widget-icon-arrow-up-down-10{ background-position: 0 -11px;  } 
.widget-icon-boxed-arrow-down-10-white{ background-position: 0 -22px;  } 
.widget-icon-boxed-arrow-down-10{ background-position: 0 -33px;  } 
.widget-icon-boxed-arrow-left-10-white{ background-position: 0 -44px;  } 
.widget-icon-boxed-arrow-left-10{ background-position: 0 -55px;  } 
.widget-icon-boxed-arrow-right-10-white{ background-position: 0 -66px;  } 
.widget-icon-boxed-arrow-right-10{ background-position: 0 -77px;  } 
.widget-icon-boxed-arrow-up-10-white{ background-position: 0 -88px;  } 
.widget-icon-boxed-arrow-up-10{ background-position: 0 -99px;  } 
.widget-icon-fullscreen-10-white{ background-position: 0 -110px;  } 
.widget-icon-fullscreen-10{ background-position: 0 -121px;  } 
.widget-icon-min-10-white{ background-position: 0 -132px;  } 
.widget-icon-min-10{ background-position: 0 -143px;  } 
.widget-icon-next-10-white{ background-position: 0 -154px;  } 
.widget-icon-next-10{ background-position: 0 -165px;  } 
.widget-icon-normalscreen-10-white{ background-position: 0 -176px;  } 
.widget-icon-normalscreen-10{ background-position: 0 -187px;  } 
.widget-icon-pencil-10-white{ background-position: 0 -198px;  } 
.widget-icon-pencil-10{ background-position: 0 -209px;  } 
.widget-icon-plus-10-white{ background-position: 0 -220px;  } 
.widget-icon-plus-10{ background-position: 0 -231px;  } 
.widget-icon-refresh-10-white{ background-position: 0 -242px;  } 
.widget-icon-refresh-10{ background-position: 0 -253px;  } 
.widget-icon-save-10-white{ background-position: 0 -264px;  } 
.widget-icon-save-10{ background-position: 0 -275px;  } 
.widget-icon-trashcan-10-white{ background-position: 0 -286px;  } 
.widget-icon-trashcan-10{ background-position: 0 -297px;  } */


.jarviswidget-ctrls a > i{ 
      width             : 10px;
      height            : 10px;
      position          : absolute;
      left              : 50%;
      top               : 50%;
      margin            : -5px 0 0 -5px;
      background-repeat : no-repeat;
      background: url(../img/widget/widget-icon.png) no-repeat top left;
} 

.jarviswidget-icon i{ 
      width             : 16px;
      height            : 16px;
      display 		  : block;
      position          : absolute;
      left              : 50%;
      top               : 50%;
      margin            : -8px 0 0 -8px;
      background-repeat : no-repeat;	
}
i.min-10{
      background-position: 0 -143px !important;
}
i.plus-10{
      background-position: 0 -231px !important; 
} 
i.pencil-10{
      background-position: 0 -209px !important;
}
i.delete-10{
      background-position: 0 -297px !important;
      opacity: .8;
}
i.trashcan-10{
      background-position: 0 -297px !important;
}
i.fullscreen-10{
      background-position: 0 -121px !important;
}
i.normalscreen-10{
      background-position: 0 -187px !important;
}
i.refresh-10{
      background-position: 0 -253px !important; 
}       

i.edit-clicked {
      background-position  : 4px -194px !important;
      background-color 	 : #333 !important;
      width				 : 18px !important;
      height				 : 18px !important;
      top					 : 0px !important;
      left				 : 0px !important;
      margin 				 : 0px !important;
      -moz-border-radius 	 : 3px;
      -khtml-border-radius : 3px;
      -webkit-border-radius: 3px;
      border-radius	 	 : 3px;
}

/* ---------------------------------------------------------------------- */
/*	RTL Support
/* ---------------------------------------------------------------------- */

.rtl .jarviswidget > header{
      padding : 0 7px 0 0;	
}
.rtl .jarviswidget > header h2{
      float      : right;
      text-align : right
}
.rtl .jarviswidget > header .jarviswidget-icon{
      float  : right;
      margin : 12px 0 0 7px;
}
.rtl .jarviswidget-ctrls{
      float   : left;
      padding : 10px 0 0 3px;
      margin  : 0;
}
.rtl .jarviswidget-ctrls .button-icon{
      margin : 0 0 5px 5px;
}	
.rtl .jarviswidget-loader{
      float : left;
}

/* ---------------------------------------------------------------------- */
/*	Clearfix
/* ---------------------------------------------------------------------- */

.jarviswidget:before,
.jarviswidget:after, 
.jarviswidget > div:before, 
.jarviswidget > div:after,
.inner-spacer:before, 
.inner-spacer:after,
.jarviswidget-editbox:before, 
.jarviswidget-editbox:after,
.clearfix:before,
.clearfix:after{
      content     : "\0020";
      display     : block;
      height      : 0;
      overflow    : hidden; 
      font-size   : 0;
      line-height : 0;
      visibility  : hidden;
}
.jarviswidget:after,
.jarviswidget > div:after, 
.inner-spacer:after,
.jarviswidget-editbox:after,
.clearfix:after{
      clear : both; 
}
.jarviswidget,
.jarviswidget > div, 
.inner-spacer:after,
.jarviswidget-editbox,
.clearfix{
      zoom : 1;/*IE*/
}

