@font-face {
  font-family: "nlic-font";
  src: url(../fonts/Opun-Regular.ttf) format("truetype");
}

body{
  font-family: "nlic-font" !important;
  width: 100%;
}

.section{
  position: relative;
}
.header-nlic{
    width: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
    margin: 10px 0 0 5px;
}
#nlic_mol_name{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px 0 0 140px
}
#button_mol{
  position: fixed;
  background: transparent;
  top: 0;
  right: 0;
  margin: 30px 40px 0 0;
  font-size: 40px;
  color: #f7f7f7;
}
#button_mol>a{
  color: white;
  background-color: transparent;
  text-decoration: none;
}
#button_mol>a:hover{
  color: #beb8ff;
  background-color: transparent;
  text-decoration: none;
}

.menu-nlic{
    width: 80%;
    /* position: absolute; */
    top: 0;
    left: 0;
    margin: 0 auto;
    margin-top: 100px;
}
.bg1600 {
    background-image: url("../img/bg/bg1600_unfooter.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    /* max-width: 1600px; */
    margin: 0 auto;
    position: absolute;
    background-color: #2c2669;
    min-height: 3000px;
    top: 0;
    left: 0;
    width: 101%;
  }
  
  .bg-cover {
    min-height: 2800px;
    background: transparent;
    background-image: url("../img/cover/bg-cover.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    max-width: 1600px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .head-image-cover-right {
    background: transparent;
    background-image: url("../img/cover/head-image-cover.png");
    background-repeat: no-repeat;
    background-position: right top;
    max-width: 1600px;
    margin: 0 auto;
    position: absolute;
    height: 300px !important;
    width: 675px;
    right: -10px;
    background-size: 95%;
    top: 50px;
  }
  
  @media (min-width: 1200px) {
    .head-image-cover-right {
      background-size: 100%;
      top: 190px;
    }
  }
  
  @media (max-width: 1200px) {
    .head-image-cover-right {
      background-size: 85%;
      top: 170px;
    }
  }
  
  @media (max-width: 900px) {
    .head-image-cover-right {
      background-size: 55%;
      top: 170px;
    }
    .wrapper {
      grid-template-columns: repeat(2, 1fr) !important;
    }
    .bg1600{
      margin: 0 auto !important;
      height: 3600px;
      width: 105% !important;
    }
    .menu-nlic{
      width: 85%;
    }
    .menu-border{
      width: 150px !important;
      height: 160px !important;
    }
    .chartJS{
      width: 85% !important;
    }
    .eservice {
      width: 85% !important;
    }
    .document {
      width: 85% !important;
    }
    .footer-img{
      margin-top: 20px !important;
      padding: 0 !important;
    }
    .footer-div{
      width: 103% !important;
      padding: 0 !important;
      margin: 0 !important;
      font-size: 9px !important;
    }
    .footer-copyrigth {
      font-size: 10px !important;
      background: #221b6d !important;
    }

  }/*end device scale*/

  .head-image-cover-left {
    background: transparent;
    background-image: url("../img/cover/head-image-cover-left.png");
    background-repeat: no-repeat;
    background-position: left top;
    max-width: 1600px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 450px;
    width: 100%;
  }

  .menu-item{
    margin-top: 30px;
    text-align: center;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: auto;
  }
  .menu-border{
    background: #ffffffd4;
    /* border: 1px solid black; */
    border-radius: 60px;
    height: 150px;
    width: 170px;
    padding-top: 30px;
    font-size: 12px;
  }
  .menu-font{
    /* color: white; */
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  }
  .menu-border:hover{
    background: #e8e7f1d6;
  }
  .menu-item a:hover{
    text-decoration: none !important;
  }
  .chartJS{
    width: 80%;
    top: 0;
    left: 0;
    margin: 0 auto;
    height: auto;
    /* border-bottom: 5px solid #7762c47a; */
  }
  .chartJS-div{
    background: #ffffffd4;
    border-radius: 20px;
    padding-bottom: 50px
  }
  .chartJS-nlic{
    margin: 100px 0 0 0;
  }
  #chart-header{
    text-align: center;
    color: #33318a;
    margin: 0 auto;
  }
  #chart-subheader{
    background: #938cdb;
    width: 70%;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 5px;
  }

  .eservice{
    width: 80%;
    top: 0;
    left: 0;
    margin: 0 auto;
    /* border-bottom: 5px solid #7762c47a; */
  }
  .eservice-nlic{
    margin: 50px 0 0 0;
  }
  #eservice-header{
    text-align: center;
    color: #33318a;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .eservice-div{
    font-size: 13px;
    background: #ffffffd4;
    border-radius: 20px;
    padding-bottom: 50px
  }
  .service-border{
    margin-bottom: 10px;
  }

  .document{
    width: 80%;
    top: 0;
    left: 0;
    margin: 0 auto;
    /* border-bottom: 5px solid #7762c47a; */
  }
  .document-nlic{
    margin: 50px 0 0 0;
  }
  #document-header{
    text-align: center;
    color: #33318a;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .document-div{
    font-size: 13px;
    background: #ffffffd4;
    border-radius: 20px;
    padding-bottom: 50px;
  }
  .document-border{
    margin-bottom: 10px;
  }

  .footer{
    /* position: fixed; */
    /* margin-top: 50px; */
    left: 0;
    bottom: 0;
    /* width: 100%; */
    /* background-color: #3e3695; */
    color: white;
    text-align: center;
    /* height: 400px;*/
  }
  .footer-img{
    background: transparent;
    /* background: linear-gradient(white, red); */
    margin: 0 auto;
    padding: 40px;
    width: 100%;
  }
  .footer-logo{
    background: #33318a;
  }
  .footer-div{
    background: #33318a;
    width: 100%;
    height: auto;
    padding: 20px;
    font-size: 14px;
    margin: 0 auto;
  }
  .footer-item-border{
    margin: auto;
    margin-top: 25px;
  }
  .stat-head{
    text-align: center;
  }
  .stat{
    padding: 15px;
    border-radius: 10px;
    /* border: 1px solid white; */
    /* background: #665dc2; */
    background: #221b6d;
    width: 100%;
    font-size: 12px;
  }
  .stat-id{
    padding: 5px;
  }
  .footer-font{
    color: white;
    font-size: 8px;
    padding: 10px;
  }
  .footer-copyrigth{
    width: 100%;
    background: #221b6d;
    padding: 20px;
    font-size: 14px;
  }